.btn-kesk {
    background-color: #01954B;
    color: white;
}

.btn-ps {
    background-color: #FFDE55;
    color: white;
}

.btn-kok {
    background-color: #006288;
    color: white;
}

.btn-sdp {
    background-color: #E11931;
    color: white;
}

.btn-vihr {
    background-color: #61BF1A;
    color: white;
}

.btn-vas {
    background-color: #BF1E24;
    color: white;
}

.btn-rkp {
    background-color: #FFDD93;
    color: white;
}

.btn-kd {
    background-color: #18359B;
    color: white;
}

.btn-sin {
    background-color: #031F73;
    color: white;
}

.btn-skp {
    background-color: #000;
    color: white;
}

.btn-ktp {
    background-color: #000;
    color: white;
}

.btn-libe {
    background-color: #000;
    color: white;
}

.btn-pir {
    background-color: #000;
    color: white;
}

.btn-eop {
    background-color: #000;
    color: white;
}

.btn-kp {
    background-color: #000;
    color: white;
}

.btn-fp {
    background-color: #000;
    color: white;
}

.btn-ip {
    background-color: #000;
    color: white;
}

.btn-ske {
    background-color: #000;
    color: white;
}

.btn-stl {
    background-color: #000;
    color: white;
}

.btn-muut {
    background-color: grey;
    color: white;
}